$border-color: rgb(240, 225, 225);

.mail-item {
  display: flex;
  flex-direction: column;
  padding: 14px 10px;
  border-bottom: 1px solid $border-color;
  color: rgb(0, 0, 0);
  text-decoration: none;
  transition: 200ms all linear;

  &:hover {
    background-color: rgba(36, 36, 216, 0.151);
  }

  .mail-subject {
    margin: 8px 0;
    text-transform: uppercase;

    .subject {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 20px;
      font-family: "Lato", sans-serif;
      font-weight: 400;
      font-size: 15px;
    }
  }

  .mail-item-bottom {
    display: flex;
    align-items: center;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: rgb(52, 112, 197);

    .mail-sent-by {
      width: 60%;
      white-space: pre-wrap;
      text-overflow: ellipsis;
      overflow: hidden;
      margin-right: 10%;
      font-size: 15px;
    }

    .mail-sent-time {
      overflow: hidden;
      white-space: nowrap;
      font-size: 14px;
      width: 30%;
    }
  }
}
