*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
}

.app {
  display: flex;
  width: 94vw;
  height: 90vh;
  margin: auto;
  font-family: "Lato", sans-serif;
  background-color: white;
  box-shadow: 0 4px 20px rgba(51, 51, 51, 0.2);
}

.sign-in,
.sign-up {
  width: 50%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Lato", sans-serif;
  border: 1px solid black;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;

    input {
      margin: 20px;
      padding: 10px;
      font-family: "Open sans", sans-serif;
      font-size: 16px;
      width: 270px;

      &:last-child {
        background-color: transparent;
        outline: 0;
        border: 1px solid black;
        width: 160px;

        &:hover {
          background-color: black;
          color: white;
        }
      }
    }
  }
}
