.about-mail {
  border: 1px solid rgb(240, 225, 225);
  display: flex;
  flex-direction: column;
  margin-top: 10px;

  .about-mail-header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 18%;
    border-bottom: 1px solid rgb(240, 225, 225);
    margin-top: 9px;

    .mail-subject {
      padding: 5px 10px;
      font-weight: 500;
      font-size: 22px;
      color: blue;
    }

    .mail-sent-details {
      display: flex;
      justify-content: space-between;
      padding: 5px 10px;
      color: rgba(0, 0, 0, 0.7);

      .sent-by {
        font-weight: 500;
        font-size: 18px;
      }

      .sent-at {
        position: relative;
      }
    }
  }

  .mail-body {
    padding: 10px;
    overflow: scroll;
    overflow-x: hidden;
    height: 100%;
    font-weight: 200;
    font-size: 18px;
    font-family: "Lato", sans-serif;
    line-height: 26px;
    word-spacing: 6px;

    &::-webkit-scrollbar {
      background-color: rgba(34, 6, 134, 0.938);
      width: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgb(0, 0, 0);
      width: 5px;
    }
  }
}
