.about-mail {
  border: 1px solid black;
  display: flex;
  flex-direction: column;

  .about-mail-header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 20%;
    border-bottom: 1px solid black;
    background-color: rgba(0, 60, 255, 0.719);
    .mail-subject {
      padding: 5px 10px;
      font-weight: 600;
      font-size: 22px;
    }

    .mail-sent-details {
      display: flex;
      justify-content: space-between;
      padding: 5px 10px;

      .sent-by {
        font-weight: 500;
        font-size: 18px;
      }

      .sent-at {
        position: relative;

        // &::before {
        //   content: ".";
        //   position: absolute;
        //   top: -55%;
        //   left: 62%;
        //   height: 30px;
        //   width: 10px;
        //   background-color: inherit;
        //   font-size: 25px;
        //   text-align: center;
        // }
      }
    }
  }

  .mail-body {
    padding: 10px;
    overflow: scroll;
    overflow-x: hidden;
    height: 100%;
    font-weight: 500;
    font-size: 18px;
    background-color: rgba(29, 29, 160, 0.055);
    font-family: "Lato", sans-serif;

    &::-webkit-scrollbar {
      background-color: rgba(33, 6, 134, 0.555);
      width: 8px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgb(0, 0, 0);
      width: 5px;
    }

    body {
    }
  }
}
