.create-mail {
  backdrop-filter: blur(14px);
  width: 75.2%;
  height: 90%;
  position: absolute;
  left: 21.8%;
  background: #f17781;
  z-index: 4;

  &::before {
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: rgb(253, 148, 148);
    border-radius: 50%;
    left: 50px;
    top: 50px;
  }

  &::after {
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: rgb(250, 144, 144);
    border-radius: 50%;
    right: 50px;
    bottom: 50px;
    z-index: -1;
  }

  .generate-mail {
    width: 90%;
    height: 90%;
    margin: auto;
    margin-top: 3.5%;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    color: white;
    padding-left: 5%;

    p {
      text-align: center;
      padding: 15px 0;
      font-size: 13px;
      word-spacing: 3px;
      text-transform: uppercase;
    }

    .cp-mail {
      margin-top: 40px;
      display: flex;
      align-items: center;

      span {
        width: 70px;
        display: inline-block;
        text-transform: uppercase;
        font-size: 14px;
      }

      input,
      textarea {
        width: 85%;
        outline: none;
        border: 1px solid black;
        background-color: rgba(0, 0, 0, 0.9);
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        padding: 10px;
        box-shadow: 0 0 20px o rgba(0, 0, 0, 0.9);
        border-radius: 6px;
        color: white;
      }
      textarea {
        height: 200px;
      }
    }
    .compose-button {
      border: 1px solid black;
      background: transparent;
      padding: 7px 19px;
      margin: 20px 70px;
      color: white;
      font-size: 16px;
      outline: none;
    }
  }
}
