.sidebar {
  border: 1px solid black;
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  background: linear-gradient(-20deg, rgb(0, 0, 0) 15%, #050441 15%);
  color: white;
  position: relative;

  .application-name {
    flex: 0.2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(235, 235, 235, 0.178);
  }

  .sidebar-options {
    flex: 0.5;
    border-bottom: 1px solid rgba(235, 235, 235, 0.178);

    .option {
      margin: 20px 10px;
      padding: 10px;
      display: flex;
      justify-content: space-between;

      a {
        text-decoration: none;
        color: white;
      }
    }
  }

  .user-informations {
    flex: 0.2;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 30px;
    margin-top: 30px;

    h1 {
      color: white;
      font-size: 18px;
    }
  }

  .create-mail-button {
    position: absolute;
    bottom: 20px;
    right: 0;
    width: 60px;
    height: 60px;
    background-color: rgb(4, 4, 82);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    .MuiSvgIcon-root {
      color: white;
      font-size: 30px;
    }
  }
}
